.game-area {
  opacity:0.99;
  background-color:#ccc;
  width:100%;
  height:100%;
  border-style: dotted;
  cursor: crosshair;
  border-color: darkorange;
}
.crosshair-horizontal {
  border-bottom: dashed;
  border-color: darkorange;
  position: absolute;
  width: 100%;
}
.crosshair-vertical {
  border-right: dashed;
  border-color: darkorange;
  position: absolute;
  height: 100%;
}
img {
  opacity: 0.99;
  width: 70px;
  height: 70px;
  position: absolute;
}
